.chat-messages {
  background-color: #fff;
  height: 400px;
  border: 3px solid #000;
  border-radius: 10px;
  overflow-y: auto;
}

.message-wrap {
  padding-left: 10px;
  padding-bottom: 3px;
}

.chat-send {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  margin-top: 5px;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #000;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary {
  width: 100px;
  padding: 5px;
  font-size: 1rem;
  margin: 4px 2px;
  border-radius: 39px;
  border-style: solid;
  border-width: 4px;
  text-align: center;
  text-decoration: none;
  border-color: #1295df;
  color: #382756;
  background-color: #ffff;
  cursor: pointer;
}