.chat-messages {
  height: 448px;
  overflow-y: auto;
  background-color: #1C1A21;
  border-radius: 8px;
}

.message-wrap {
  padding-left: 10px;
  padding-top: 15px;
  font-size: 0.9rem;
  line-height: 15pt;
}

.message-user {
  font-size: 14px;
  color: #DDDDDD;
}
.message-content {
  font-size: 15px;
  color: #ffff;
}

.chat-send {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67px;
  padding: 12px;
  background-color: #2e2b36;
  border-radius: 0 0 8px 8px;
  border: 1px solid #767185;
  border-bottom: none;
  border-left: none;
  border-right: none;
  gap: 8px;
}
.message-field {
  display: block;
  width: 225px;
  height: calc(2.8rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffff;
  background-color: #2e2b36;
  background-clip: padding-box;
  border: 1px solid #767185;
  border-radius: 8px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.message-field::placeholder {
  color: #81759E;
  font-size: 1em;
}
.message-field:focus {
  outline: none;
  border-color: #58C2BD;
}
.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #767185;
  background-color: #493964;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #524072;
}
.mat-icon {
  color: #ffff;
}