<div class="chat-messages">
  <div class="message-wrap" *ngFor="let chatMessage of WebsocketService.chatMessages">
      <div class="message-user">{{chatMessage.user}}: </div> 
      <span class="message-content">{{chatMessage.content}}</span>
    
  </div>
</div>
<form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">
  <div class="chat-send row">
     
          <input type="text" class="message-field" name="message" id="input-message" autocomplete="off" placeholder="Сообщение" ngModel>
      <div class="col-2">
          <button type="submit" class="btn btn-primary"><mat-icon class="mat-icon">send</mat-icon></button>
      </div>
  </div>
</form>