<div class="main-page__container"  @mainPageAnimation>
  <div class="main">
    <div class="main-companent__wrap">
      <div class="meme-wrap">
        <div class="meme-title ">
          What do <span class="meme-title__first">you </span> <span class="meme-title__second">meme</span> <span class="meme-title__last">?</span>
        </div>
        <div class="meme-subtitle">ОНЛАЙН ВЕРСИЯ НАСТОЛЬНОЙ ИГРЫ "Что за мем?"</div>
      </div>
      
      <app-navigation>
        <div class="avatar-container">
          <app-avatar></app-avatar>
        </div>
        <div class="name-container">
            <app-name-field></app-name-field>
        </div>
      </app-navigation>
    </div>
    <div class="meme-img__wrap">
      <div class="meme-img"></div>
    </div>
  </div>
  
  <app-footer></app-footer>
</div>


