.meme-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}
.meme-title {
  font-size: 6rem;
  color: #58C2BD;
  text-transform: uppercase;
  font-weight: bold;
}
.meme-title__first {
  color: #382756;
}
.meme-title__second {
  color: #BF437A;
}
.name-container {
  flex-grow: 0;
  flex-basis: 100%;
  flex-shrink: 0;
}
.avatar-container {
  padding-bottom: 16px;
}