.main-page__container {
  height: 100vh;
}
.main {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 93vh;
}
.meme-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 430px;
}
.meme-title {
  font-size: 3rem;
  color: #58C2BD;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 50pt;
}
.meme-title__first {
  color: #382756;
}
.meme-title__last {
  font-size: 5.5rem;
  color: #382756;
  padding-left: 20px;
}
.meme-title__second {
  font-size: 5.5rem;
  color: #C25284;
}
.meme-subtitle {
  font-size: 1rem;
  color: #797589;
}
.name-container {
  flex-grow: 0;
  flex-basis: 100%;
  flex-shrink: 0;
}
.avatar-container {
  padding: 20px 0 30px 0;
}

.meme-img__wrap {
  width: 520px;
  height: 580px;
}
.meme-img {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../../../assets/images/meme-img.png");
}