<footer>
  <div class="copyright">© 2022 What the meme?</div>
  <div class="gh-link__wrap">
    <a href="https://github.com/NoneBeer" target="_blank">
      <div class="git-link"> NoneBeer</div>
    </a>
    <a href="https://github.com/zhagun" target="_blank">
      <div class="git-link"> Zhagun</div>
    </a>
    <a href="https://github.com/sevc4ik" target="_blank">
      <div class="git-link">Sevc4ik</div>
    </a>
  </div>
 
  <a class="rss-link" href="https://rs.school/js/" target="_blank">
    <div class="rss-link"></div>
  </a>
</footer>