.room-container {
  width: 460px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  background-color: #2e2b36;
  border-bottom: 1px solid #63606b;
  position: relative;
}
.room-name__container {
  display: flex;
  gap: 5px;
  align-items: center;
  width: 250px;
}
.room-img__wrap {
  width: 50px;
  height: 50px;
  background-color: #D9D9D9;
  border-radius: 50%;
}

.room-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.room-users__wrap {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  gap: 7px;
}

.room-join__link {
  color: #BF437A;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
}

.room-join__wrap {
  display: flex;
  align-items: center;
  min-width: 101px;
  justify-content: end;
}
.room-users__info {
  font-size: 1.1rem;
}
.users__icon {
  font-size: 17px;
  width: 18px;
  height: 15px;
}
.lock-icon {
  color: #58C2BD;
  font-size: 19px;
  width: 19px;
  height: 19px;
}

.room-name__wrap {
  color: #ffff;
  font-size: 1.0875rem;
}