.room-container {
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  background-color: #382756;
}

.room-img__wrap {
  width: 50px;
  height: 50px;
  background-color: #D9D9D9;
}

.room-img {
  width: 50px;
  height: 50px;
}

.room-users__wrap {
  color: #FFFFFF;
}

.room-join__link {
  color: #58C2BD;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.room-join__wrap {
  display: flex;
  align-items: center;
  gap: 5px;
  min-width: 101px;
  justify-content: end;
}

.lock-icon {
  color: #ec3d3d;
  font-size: 19px;
  width: 19px;
  height: 19px;
}