.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, .4);
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: #fff;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
  border-radius: 10px;
  user-select: none;
  color: white;
  z-index: 10;
}

.modal-title {
  font-size: 24px;
  text-align: center;
  background-color: rgb(255, 60, 60);
  border-radius: 10px 10px 0 0;
  padding: 10px;
  width: 100%;
}

.modal-text {
  font-size: 22px;
  color: #382756;
  padding: 0 10px;
  white-space: pre;
  text-align: left;
  user-select: text;
}

.modal-button {
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  background-color: #BF437A;
  cursor: pointer;
  color: white;
}

.modal-button:hover {
  background-color: #e04e90;
}