.table-wrap {
  display: flex;
  gap: 10px;
  padding: 16px 12px;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.table-title {
  color: #767185;
  font-size: 1.125rem;
  width: 100%;
  padding: 16px 12px;
  border-bottom: 1px solid #767185
}
.table-situation__wrap {
  height: 429px;
  border-radius: 8px;
  width: 274px;
  background-color: #F1F1F1;
}
.table-memes__wrap {
  display: flex;
  background-color: #1C1A21;
  border-radius: 8px;
  width: 454px;
  height: 329px;
  align-items: center;
  justify-content: center;
}
.meme-container {
  height: 280px;
  width: 417px;
}
.meme-img {
  width: 100%;
}
.meme-card {
  cursor: pointer;
}
