<div class="table-container">
  <div class="table-title">Игровое поле</div>
  <div class="table-wrap">
    <div class="table-situation__wrap">
      <div *ngIf="this.websocketService.situationMessgae.content" class="table-situation">
        {{ this.websocketService.situationMessgae.content }}
      </div>
    </div>
  <div class="table-memes__wrap">
    <div class="table-memes__current">
      <div
        id="list-2"
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="memesViewService.currentMeme"
        cdkDropListConnectedTo="list-1"
        class="meme-container"
        (cdkDropListDropped)="memesViewService.drop($event)"
        [cdkDropListEnterPredicate]="memesViewService.returneOneItem"
      >
        <div  *ngFor="let meme of memesViewService.currentMeme let i = index;" cdkDrag class="meme-wrap">
         
          <img [src]="'https://agile-reef-40611.herokuapp.com/'+meme.link" [alt]="'Meme - '+i" class="meme-img">
 
        </div>
      </div>
    </div>
  </div>
  </div>
  

</div>