.meme-container {
  display: flex;
  gap: 5px;
  background-color: #2E2B36;
  padding: 20px 16px;
  border: 1px solid #767185;
  border-radius: 8px;
}


.meme-img {
  width: 100%;
}

.memes-card {
  background-color: #4A4557;
  width: 267px;
  min-height: 184px;
  cursor: pointer;
  padding: 4px;
}
.memes-card img{
  height: 100%;
}

.drag-box {
  cursor: pointer;
}