.name-field__wrap {
  text-align: center;
}
.mat-form-field {
  width: 93%;
}
::ng-deep input.mat-input-element {
  color: #ffff;
}
::ng-deep .mat-form-field-label { 
  color: #767185; 
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #767185;
  opacity: 1;
}
::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start, 
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end,
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-gap {
  border-width: 2px!important;
}
::ng-deep .mat-form-field-outline-start {
  border-radius: 16px 0 0 16px !important;
  min-width: 16px !important;
}

::ng-deep .mat-form-field-outline-end {
  border-radius: 0 16px 16px 0 !important;
}
::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.2em 0px 0.8em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
    color: #58C2BD;
    padding-left: 10px;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #58C2BD;
}