
.logo-wrap {
  margin: 20px 0 0 20px;
  width: 100px;
}
.logo-wrap a{
  text-decoration: none;
}
.meme-logo {
  font-size: 1.1rem;
  color: #58C2BD;
  text-transform: uppercase;
  font-weight: bold;
}
.meme-logo__first {
  color: #382756;
}
.meme-logo__second {
  color: #BF437A;
}
