/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./assets/fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

*, ::after, ::before {
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  color: #382756;
  background-color: #1b1a20;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
  display: flex;
  list-style: none;
}
p {
  margin: 0;
  padding: 0;
}
