<ng-template dynamicChildLoader=""></ng-template>
<div class="create-wrap">
  <app-logo></app-logo>
  <div class="form">

    <form [formGroup]="form" class="create-room-wrap" autocomplete="off" (ngSubmit)="onSubmit()">

      <div class="title-container">
        <p class="title-text">
          Создание игры
        </p>
      </div>

      <div class="settings">

        <div class="setting-container">
          <label class="setting-title" for="name">Название игры</label>
          <input type="text" id="name" class="input-setting-text" placeholder="Введите название игры" maxlength="20"
            spellcheck="false" formControlName="name">
        </div>

        <div class="setting-container">
          <span class="setting-title">Количество участников</span>
          <div class="slider">
            <input class="slider-input" id="slider" type="range" min="2" max="8" step="1" value="2"
              formControlName="members">
            <label class="slider-count" for="slider" [textContent]=[form.value.members]></label>
          </div>
        </div>

        <div class="setting-container-vertical">

          <div class="switch">
            <input type="checkbox" id="switch" (change)="changePrivateMode()">
            <label for="switch">
              <div class="marker"></div>
            </label>
          </div>
          <span class="setting-title">Сделать игру приватной</span>
        </div>
        <div class="setting-container" *ngIf="privateMode">
          <label class="setting-title" for="pass">Пароль к игре</label>
          <input type="text" id="pass" class="input-setting-text" placeholder="Введите пароль к игре" maxlength="4"
            formControlName="pass">
        </div>

      </div>

      <div class="submit-container">
        <input class="submit-button" type="submit" value="Создать игру">
      </div>

    </form>

  </div>