.create-wrap {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  max-width: 1520px;
}
.logo-wrap {
  margin-left: 20px;
  padding-top: 20px;
}
.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 0 auto;
  user-select: none;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

.create-room-wrap {
  display: flex;
  gap: 40px;
  padding: 20px 0;
  flex-direction: column;
  border: 5px #382756 solid;
  border-radius: 20px;
  padding: 20px 20px;
  background-color: #121212;
}

.setting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.setting-title {
  font-size: 32px;
  text-shadow: 1px 1px 1px rgb(0, 192, 255);
  color: #58C2BD;
  width: 175px;
}

.input-setting-text {
  width: 50%;
  border: 2px solid #382756;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  font-size: 24px;
  color: #382756;
  font-weight: bold;
  height: 40px;
  box-sizing: border-box;
}

input[type=radio] {
  display: none;
}

.game-mode-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.game-mode-text {
  font-size: 32px;
  color: #382756;
  cursor: pointer;
  text-shadow: none;
  opacity: 50%;
}

input:checked+label {
  text-shadow: .5px .5px rgba(0, 127, 255, 0.7), -.5px -.5px rgba(255, 0, 127, 0.5);
  color: #7857b1;
  opacity: 100%;
}

.slider-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.slider {
  display: flex;
  justify-content: space-between;
  width: 50%;
  column-gap: 10px;
}

.slider-input {
  width: 80%;
}

.slider-count {
  background-color: white;
  border-radius: 5px;
  height: 30px;
  width: 40px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.slider-input {
  -webkit-appearance: none;
  background: transparent;
  max-width: 500px;
  outline: none;
}

.slider-input:focus,
.slider-input:active {
  border: 0;
  outline: none;
}

.slider-input::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  background-color: #382756;
  box-shadow: 0px 0px 5px #382756;
  border: 1px solid white;
  border-radius: 20%;
  cursor: pointer;
  margin-top: -5px;
  -webkit-appearance: none;
}

.slider-input::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  background: #eee;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-appearance: none;
}

.submit-button {
  width: 50%;
  margin: 0 auto;
  height: 50px;
  padding: 0 16px;
  min-width: 48px;
  min-height: auto;
  border-radius: 25px;
  color: #fff;
  background-color: #382756;
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}

.submit-button:hover {
  background-color: #5e4290;
  cursor: pointer;
}

input.ng-invalid.ng-touched {
  background-color: rgb(255, 173, 173);
}

.hide {
  display: none;
}


@media (max-width:450px) {
  .create-room-wrap {
    gap: 20px;
    padding: 20px 10px;
  }

  .setting-container,
  .slider-container {
    justify-content: center;
    gap: 10px;
  }

  .input-setting-text {
    width: 70%;
  }

  .game-mode-container {
    width: 70%;
  }

  .slider {
    width: 70%;
  }
}