.create-wrap {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  max-width: 1520px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 0 auto;
  user-select: none;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

.create-room-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 0px;
  background: #2E2B36;
  border: 1px solid #767185;
  border-radius: 25px;
}

.title-container {
  padding: 8px 32px 24px;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #767185;
}

.title-text {
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #81759E;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 20px;
}

.setting-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  height: 98px;
}

.setting-container-vertical {
  display: flex;
  gap: 16px;
  align-items: center;
}

.setting-title {
  height: 36px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #BEBEBE;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.input-setting-text {
  padding: 0px 16px;
  width: 450px;
  height: 54px;
  border: 2px solid #767185;
  border-radius: 16px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: transparent;
}

input[type=text]:focus {
  outline: none;
  border: 2px solid #65C5C0;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  width: 100%;
  height: 54px;
}

.slider-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  width: 54px;
  height: 54px;
  border: 2px solid #767185;
  border-radius: 16px;
}

.slider-input {
  background: transparent;
  outline: none;
  width: 100%;
  -webkit-appearance: none;
}

.slider-input::-webkit-slider-thumb {
  cursor: pointer;
  width: 34px;
  height: 34px;
  background: #9B476D;
  border-radius: 50%;
  margin-top: -12px;
  -webkit-appearance: none;
}

.slider-input::-webkit-slider-thumb:hover {
  background: #C25284;
}

.slider-input::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  background: #767185;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
}

.switch input {
  display: none;
}

.switch input+label {
  display: block;
  height: 30px;
  width: 60px;
  border-radius: 25px;
  margin: 0 auto;
  position: relative;
  border: 2px solid white;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.switch input+label .marker {
  position: absolute;
  top: 0;
  left: 3px;
  height: 100%;
  transition: transform 0.3s ease-in-out, left 0.3s ease-in-out;
  will-change: transform, left;
}

.switch input+label .marker:after {
  content: "";
  display: block;
  background: white;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  height: 20px;
  width: 20px;
  transform: translate3d(0, -50%, 0);
  transition: transform 0.3s ease-in-out, left 0.3s ease-in-out;
}

.switch input:checked+label .marker {
  left: calc(60%);
}

.switch input:checked+label {
  background-color: #C25284;
}

.submit-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 24px 24px 8px;
  width: 100%;
  height: 88px;
  border-top: 1px solid #767185;
  align-self: stretch;
}

.submit-button {
  text-transform: uppercase;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  gap: 10px;
  width: 270px;
  height: 56px;
  background: #C25284;
  border-radius: 16px;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.submit-button:hover {
  background-color: #98446a;
  cursor: pointer;
}

input.ng-invalid.ng-touched:not(:focus) {
  background-color: rgba(201, 51, 51, 0.3);
  color: white;
}

.hide {
  display: none;
}


/* @media (max-width:450px) {
  .create-room-wrap {
    gap: 20px;
    padding: 20px 10px;
  }

  .setting-container,
  .slider-container {
    justify-content: center;
    gap: 10px;
  }

  .input-setting-text {
    width: 70%;
  }

  .game-mode-container {
    width: 70%;
  }

  .slider {
    width: 70%;
  }
} */