<div class="game-wrap">

  <app-modal-password *ngIf="roomIdService.pass && (modalPasswordService.isVisible$| async)"></app-modal-password>
  <div class="container" *ngIf="isRoomReady">
    <header class="header">
      <app-logo class="logo"></app-logo>
      <div class="state">
        state
      </div>
      <div class="timer">
        30s
      </div>
      <app-room-info class="leave-lobby"></app-room-info>
    </header>
    <main class="main">
      <aside class="chat">
        <app-chat class="chat-app"></app-chat>
      </aside>

      <div class="game-table">

      </div>

      <app-score class="score"></app-score>

    </main>

    <footer class="footer">
      <div class="mem-slider">

      </div>
    </footer>
  </div>

</div>