<div class="game-wrap">
  <app-logo></app-logo>
  <app-modal-password *ngIf="roomIdService.pass && (modalPasswordService.isVisible$| async)"></app-modal-password>
  <div class="container" *ngIf="isRoomReady">
    <header class="header">
      <div class="logo" (click)="closeLobby()"> {{ room.name }}</div>
      <div class="state">
        state
      </div>
      <div class="timer">
        30s
      </div>
      <div class="leave-lobby">Leave lobby</div>
    </header>
    <main class="main">
      <aside class="chat">
        <app-chat class="chat-app"></app-chat>
      </aside>
  
      <div class="game-table">
  
      </div>
  
      <aside class="score">
        <div class="score-title">
          Score
        </div>
        <ul></ul>
      </aside>
    </main>
  
    <footer class="footer">
      <div class="mem-slider">
  
      </div>
    </footer>
  </div>
  
</div>
