<div class="game-wrap">

  <app-modal-password *ngIf="checkPass && roomIdService.pass && (modalPasswordService.isVisible$| async)"></app-modal-password>
  <div class="container" *ngIf="isRoomReady">
    <header class="header">
      <app-logo class="logo"></app-logo>
      <app-state class="state"></app-state>
      <app-room-info class="leave-lobby"></app-room-info>
    </header>
    <main class="main">
      <aside class="chat">
        <app-chat class="chat-app"></app-chat>
      </aside>

      <div class="game-table">
        <app-table-view></app-table-view>
      </div>

      <div class="score-table">
        <app-score class="score"></app-score>
      </div>

    </main>

    <footer class="footer">
      <div class="mem-slider">
        <app-memes-view></app-memes-view>
      </div>
    </footer>
  </div>

</div>