.container {
  max-width: 1400px;
  margin: 0 auto;
}


.header {
  display: flex;
  background-color: #2e2b36;
  height: 90px;
  margin-top: 14px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #767185;
}

.state {
  text-transform: uppercase;
  color: wheat;
  font-size: 34px;
  width: 60%;
}

.leave-lobby {
  width: 20%;
  text-align: center;
}

.timer {
  text-transform: capitalize;
  color: rebeccapurple;
}

.main {
  display: flex;
  margin-top: 16px;
  width: 100%;
  gap: 5px;
}

.chat {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.chat-app {
  height: 100%;
  width: 100%;
  border: 1px solid #767185;
  border-radius: 8px;
}


.game-table {
  background-color: #2e2b36;;
  border: 1px solid #767185;
  border-radius: 8px;
}

.score {
  background-color: springgreen;
  width: 20%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mem-slider {
  padding: 20px;
  width: 100%;
}