<div 
  class="modal-back"
  ></div>

<div 
  class="modal-container"
  >
  <h2 class="modal-title">Введите пароль</h2>

  <form [formGroup]="form" (ngSubmit)="checkPassword()">

    <input 
      type="password"
      class="modal-field"
      placeholder="Password"
      formControlName="pass"
      appFocus
      
    >
  
    <p 
      class="modal-subtitle"
      *ngIf="!chekPass "
    >Введите правильный пароль 
    </p>
  
    <button 
      type="submit" 
      class="modal-btn"
    >Зайти</button>
  </form>
</div>
