.modal-back {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 0.5);
}
.modal-container {
  position: absolute;
  width: 300px;
  top: 30%;
  left: 50%;
  padding: 1rem;
  text-align: center;
  background-color: rgb(255 255 255 / 1);
  border-radius: 0.25rem;
  transform: translate(-50%, 0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}
.modal-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: center;
  margin: 0;
  margin-bottom: 0.5rem;
}

.modal-field {
  padding: 0.5rem 1rem;
  border-width: 1px;
  width: 100%;
  margin-bottom: 0.5rem;
}

.modal-subtitle {
  color: rgb(220 38 38 / 1);
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.modal-btn {
  width: 100px;
  padding: 5px;
  font-size: 1.125rem;
  border-radius: 39px;
  border-style: solid;
  border-width: 4px;
  text-align: center;
  text-decoration: none;
  border-color: #0b8f0b;
  color: #382756;
  background-color: #ffff;
  cursor: pointer;
}