<div class="container">
  <div class="title-container">
    <p class="title-text">Счет игры</p>
  </div>

  <div class="players-container">
    <div class="player-container" *ngFor="let player of scoreService.score">
      <div class="player-data">
        <img [src]="player.image" alt="" class="player-img">
        <span class="player-name"> {{ player.name }}</span>
      </div>
      <div class="score-container">
        <span class="player-score"> {{ player.score }}</span>
      </div>
    </div>
  </div>

  <div class="goat-container">
    <p class="goat-title">Цель игры</p>
    <div class="goat">
      <span class="goat-text">99</span>
    </div>
  </div>
</div>