.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: #2E2B36;
  border: 1px solid #767185;
  border-radius: 8px;
  height: 100%;
  overflow: hidden;
}

.title-container {
  display: flex;
  align-items: flex-start;
  padding: 16px 12px;
  height: 53px;
  border-bottom: 1px solid #767185;
  background: #2E2B36;
}

.title-text {
  text-align: right;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #81759E;
}

.players-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 5px;
}

.player-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4A4557;
  border-radius: 5px;
  padding: 5px;
  gap: 8px;
}

.player-data {
  display: flex;
  gap: 8px;
}

.player-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.player-name {
  color: #DDDDDD;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
}

.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background: #2E2B36;
  border-radius: 50%;
}

.player-score {
  color: white;
}

.goat-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #4A4557;
  border-top: 1px solid #767185;
  justify-content: space-between;
  padding: 0px 10px;
  height: 53px;
  margin-top: auto;
  justify-self: flex-end;
}

.goat-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #DDDDDD;
}

.goat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: #C25284;
  border-radius: 50%;
}

.goat-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  color: #FFFFFF;
}