.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: #2E2B36;
  border: 1px solid #767185;
  border-radius: 8px;
  height: 100%;
  overflow: hidden;
}

.title-container {
  display: flex;
  align-items: flex-start;
  padding: 16px 12px;
  height: 53px;
  border-bottom: 1px solid #767185;
  background: #2E2B36;
}

.title-text {
  text-align: right;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #81759E;
}

.players-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 5px;
}

.player-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4A4557;
  border-radius: 5px;
  padding: 5px;
  gap: 8px;
  position: relative;
}

.player-data {
  display: flex;
  gap: 8px;
}

.player-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.player-name {
  color: #DDDDDD;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
}

.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background: #2E2B36;
  border-radius: 50%;
}

.player-score {
  color: white;
}
